body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333333;
    background-color: #FAFAFA;
    max-width: 800px;
    width: 100%;
    margin: auto;
}
pre {
    color: #183691;
    background-color: #F7F7F7;
    padding: 16px;
    border-radius: 6px;
}
h1 {
    text-align: center;
}
#docs {
    margin-bottom: 32px;
}
.centered {
    text-align: center;
    margin: auto;
    display: block;
}
.level {
    font-size: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: #FFF;
    padding: 3px;
    border-radius: 3px;
}
.none {
    background-color: #95a5a6;
}
.none:after {
    content: "NO TOKEN REQUIRED";
}
.one {
    background-color: #1abc9c;
}
.one:after {
    content: "ACCESS LEVEL: 1";
}
.two {
    background-color: #3498db;
}
.two:after {
    content: "ACCESS LEVEL: 2";
}
.three {
    background-color: #9b59b6;
}
.three:after {
    content: "ACCESS LEVEL: 3";
}